dist/
*.swp
*.o
_darcs
*.elc
*~
vim/bundle
vim/vim-addons
nohup.out
*#
emacs.d/semanticdb
emacs.d/places
emacs.d/projectile-bookmarks.eld
emacs.d/.smex-items
vim/.netrwhist
emacs.d/elpa/archives/melpa/archive-contents
emacs.d/elpa/archives/gnu/archive-contents
emacs.d/elpa/archives/gnu/archive-contents.signed
emacs.d/elpa/gnupg
emacs.d/projectile.cache
