dist/
*.swp
*.o
_darcs
*.elc
*~
vim/bundle
vim/vim-addons
nohup.out
*#
emacs.d/semanticdb
emacs.d/places
emacs.d/projectile-bookmarks.eld
emacs.d/.smex-items
vim/.netrwhist
emacs.d/elpa/archives/melpa/archive-contents
emacs.d/elpa/archives/gnu/archive-contents
emacs.d/elpa/archives/gnu/archive-contents.signed
emacs.d/elpa/gnupg
emacs.d/projectile.cache
sbt/boot
sbt/staging
sbt/0.13/plugins/project/
sbt/0.13/plugins/target/
sbt/plugins/project/
sbt/plugins/target/
emacs.d/session.*
emacs.d/ensime/classpath_*
emacs.d/SessionDesktop.el
target
emacs.d/elpa/archives/melpa-stable/archive-contents
emacs.d/elpa/archives/org/archive-contents
emacs.d/tramp
sbt/preloaded/
sbt/1.0/zinc
sbt/1.0/templates
emacs.d/url/cache
sbt/1.0/staging
sbt/0.13/java9-rt-ext-eclipse_openj9_11/
emacs.d/.lsp-session
.lsp-session-v1
