dist/
*.swp
*.o
_darcs
*.elc
*~
vim/bundle
vim/vim-addons
nohup.out
*#
emacs.d/semanticdb
emacs.d/places
emacs.d/projectile-bookmarks.eld
emacs.d/.smex-items
vim/.netrwhist
emacs.d/elpa/archives/melpa/archive-contents
emacs.d/elpa/archives/gnu/archive-contents
emacs.d/elpa/archives/gnu/archive-contents.signed
emacs.d/elpa/gnupg
emacs.d/projectile.cache
sbt/boot
sbt/staging
sbt/0.13/plugins/project/
sbt/0.13/plugins/target/
sbt/plugins/project/
sbt/plugins/target/
emacs.d/session.*
emacs.d/ensime/classpath_*
emacs.d/SessionDesktop.el
target
emacs.d/elpa/archives/melpa-stable/archive-contents
emacs.d/elpa/archives/org/archive-contents
emacs.d/tramp
sbt/preloaded/
sbt/1.0/zinc
sbt/1.0/templates
emacs.d/url/cache
sbt/1.0/staging
sbt/0.13/java9-rt-ext-eclipse_openj9_11/
emacs.d/.lsp-session
.lsp-session-v1
sbt/0.13/java9-rt-ext-oracle_corporation_11_0_3_internal/
sbt/1.0/swoval-jni/
sbt/0.13/java9-rt-ext-ubuntu_11_0_5_ea
sbt/0.13/java9-rt-ext-private_build_12_0_2
sbt/0.13/java9-rt-ext-n_a_12_0_2_internal/
sbt/0.13/java9-rt-ext-oracle_corporation_11_0_6_internal/
sbt/ghpages/
emacs.d/.cache
sbt/0.13/java9-rt-ext-n_a_14_0_1/
emacs.d/.dap-breakpoints
sbt/0.13/java9-rt-ext-n_a_11_0_8_internal/
emacs.d/.dap-breakpoints
sbt/0.13/java9-rt-ext-n_a_15_0_1/
sbt/0.13/java9-rt-ext-oracle_corporation_11_0_9/
sbt/launchers/
sbt/0.13/java9-rt-ext-adoptopenjdk_11_0_10/
sbt/0.13
sbt/1.0/java9-rt-ext-oracle_corporation_11_0_10/
emacs.d/transient
./emacs.d/url
emacs.d/workspace/.metadata
emacs.d/workspace/jdt.ls-java-project/
sbt/1.0/java9-rt-ext-adoptopenjdk_11_0_10/
sbt/dhb-sonatype-credentials
sbt/1.0/java9-rt-ext-oracle_corporation_11_0_12/
emacs.d/workspace
emacs.d/url
sbt/1.0/java9-rt-ext-eclipse_adoptium_11_0_13
sbt/1.0/java9-rt-ext-graalvm_community_17_0_1
emacs.d/elpa/archives/nongnu/archive-contents
