[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule "cask"]
	path = cask
	url = https://github.com/cask/cask.git
[submodule "emacs.d/evil-tabs"]
	path = emacs.d/evil-tabs
	url = git@github.com:krisajenkins/evil-tabs.git
[submodule "emacs.d/evil-numbers"]
	path = emacs.d/evil-numbers
	url = git@github.com:cofi/evil-numbers.git
[submodule "emacs.d/lsp-mode"]
	path = emacs.d/lsp-mode
	url = git@github.com:coreyoconnor/lsp-mode.git
	branch = master
[submodule "emacs.d/use-package"]
	path = emacs.d/use-package
	url = https://github.com/jwiegley/use-package.git
	branch = master
[submodule "emacs.d/lsp-ui"]
	path = emacs.d/lsp-ui
	url = git@github.com:coreyoconnor/lsp-ui.git
	branch = master
[submodule "emacs.d/origami"]
	path = emacs.d/origami
	url = git@github.com:coreyoconnor/origami.el.git
[submodule "emacs.d/lsp-origami"]
	path = emacs.d/lsp-origami
	url = git@github.com:coreyoconnor/lsp-origami.git
